VITE_WALLETCONNECT_PROJECT_ID=""
VITE_RPC_URL=""
VITE_API_BASE_URL="https://florin.bitcoinos.build"
VITE_EXPIRATION_HOURS=24
VITE_MIN_AMOUNT="0.0004"
VITE_MAX_AMOUT="3"
VITE_EVM_CONFIRMATIONS_LOW=1
VITE_EVM_CONFIRMATIONS_HIGH=10
VITE_EVM_CONFIRMATIONS_USD_AMOUNT=100
VITE_BTC_CONFIRMATIONS=6